In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://web.archive.org/web/20200318083015/https://en.wikipedia.org/wiki/List_of_largest_banks"
response = requests.get(url)

In [3]:
soup = BeautifulSoup(response.text, 'html.parser')

In [4]:
table = soup.find('table', class_='wikitable')

In [5]:
bank_names = []
market_caps = []
for row in table.find_all('tr')[1:]:  # Skip the header row (index 0)
    columns = row.find_all('td')
    if len(columns) >= 2:  # Ensure there are at least two columns
        name = columns[1].text.strip()  # Extract bank name (column 2)
        cap = columns[2].text.strip()   # Extract market cap (column 3)
        bank_names.append(name)
        market_caps.append(cap)

In [6]:
data = pd.DataFrame({'Bank Name': bank_names, 'Market Cap (US$ Billion)': market_caps})

In [7]:
print(data)

                                   Bank Name Market Cap (US$ Billion)
0    Industrial and Commercial Bank of China                 4,027.44
1                    China Construction Bank                 3,376.52
2                 Agricultural Bank of China                 3,287.36
3                              Bank of China                 3,092.21
4             Mitsubishi UFJ Financial Group                 3,069.20
..                                       ...                      ...
96                                  Swedbank                   254.74
97                                  BayernLB                   252.15
98                  State Street Corporation                   244.60
99                       China Zheshang Bank                   239.43
100                                   Bankia                   237.77

[101 rows x 2 columns]